<template>
    <div class="info">
        <span class="title">{{title}}</span>
        <div class="personal">
            <div class="photo"></div>
            <div class="data">
                <span class="nickname">{{nickname}}</span>
                <span class="fio">{{fio}}</span>
            </div>
            <div class="views">777k&nbsp;<i class="fa fa-eye" style="font-size:24px"></i></div>
        </div>
        <div class="about">
            <div class="title-1">
                О квартире
            </div>
            <div class="options">
                <div class="option" v-for="item in flat_options">
                    <div class="options__oval"><img class="" :src="flat_options_path+item['filename']" alt=""></div>
                    <span class="name">{{item.name}}</span>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="title-1">Комментарий от арендадателя</div>
            <span class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </span>
        </div>
        <div class="reviews">
            <div class="title-1">Отзывы</div>
            <div class="reviewers_block">
                <Reviewer></Reviewer>
                <Reviewer></Reviewer>
                <Reviewer></Reviewer>
                <Reviewer></Reviewer>
                <Reviewer></Reviewer>
                <Reviewer></Reviewer>
            </div>
        </div>
    </div>
</template>

<script>
    import Reviewer from './Reviewer';

    export default {
        name: "Info",
        data(){
            return {
                title: "м.Деловой Центр, Пресненская набережная 6с2,\n" +
                    "1 подъезд, офис 5255",
                nickname: 'nickname',
                fio: 'Фамилия И.Н.',
                flat_options_path: 'img/',
                flat_options: [
                 {'filename':'squad.png','name':'Площадь'},
                 {'filename':'bathtube.png','name':'Душ'},
                 {'filename':'refrigerator.png','name':'Холодильник'},
                 {'filename':'TV_vector.png','name':'ТВ'},
                 {'filename':'minisplit.png','name':'Кондиционер'},
                 {'filename':'wifi-connection-signal-symbol.png','name':'Wi-Fi'},
                ],
            }
        },
        components:{
            Reviewer
        }
    }
</script>

<style lang="scss" scoped>
    $blue: #3fa9f6;
    $gray: #888888;
    .info{
        padding: 30px 38px 38px 38px;
        flex: 7;
    }

    .personal{
        margin-top: 41px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .photo{
            width: 70px;
            height: 70px;
            background-color: $blue;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
        }
        .data{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            float: left;
            padding: 12px 15px 15px 15px;

            .nickname{
                color: $blue;
                font-family: Comfortaa;
                font-size: 20px;
                font-weight: 700;
            }
            .fio{
                color: $gray;
                font-family: Comfortaa;
                font-size: 14px;
                font-weight: 300;
            }
        }
        .views{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $gray;
            font-family: Comfortaa;
            font-size: 22px;
            font-weight: 300;
            
            margin-left: auto;
            margin-right: -0em;
        }
    }

    .about{
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .options{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            .option{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-right: 30px;
                .options__oval{
                    width: 45px;
                    height: 45px;
                    border-radius: 22px;
                    background-color: $blue;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .name{
                    margin-top: 5px;
                    color: #919191;
                    font-family: Comfortaa;
                    font-size: 9px;
                    font-weight: 300;
                }
            }
        }

    }

    .comment{
        margin-top: 30px;
        .title-1{
            margin-bottom: 17px;
        }
        .text{
            color: #888888;
            font-family: Comfortaa;
            font-size: 11px;
            font-weight: 300;
        }
    }

    .reviews{
        margin-top: 30px;

        .reviewers_block{
            margin-top: 17px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }
    }

    .title{
        font-family: Comfortaa;
        font-size: 20px;
        font-weight: 700;
        color: $blue;
    }

    .title-1{
        color: #3fa9f5;
        font-family: Comfortaa;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.31px;
    }
</style>