<template>
    <div class="previewSlider">
        <div class="wrapper">
            <div class="body">
                <img class="" src="img/small-apartment-design-35.png" alt="">
                <img src="img/arrow_left.png" alt="" class="arrow arrow_left">
                <img src="img/arrow_right.png" alt="" class="arrow arrow_right">
                <div class="slides_bar">
                    <div class="bar_cirlce bar_cirlce_full"></div>
                    <div class="bar_cirlce bar_cirlce_empty"></div>
                    <div class="bar_cirlce bar_cirlce_empty"></div>
                    <div class="bar_cirlce bar_cirlce_empty"></div>
                    <div class="bar_cirlce bar_cirlce_empty"></div>
                </div>
            </div>
            <div class="footer">
                <div class="item">
                    <div class="stars">
                        <i class="fa fa-star star_full"></i>
                        <i class="fa fa-star star_empty"></i>
                        <i class="fa fa-star star_empty"></i>
                        <i class="fa fa-star star_empty"></i>
                        <i class="fa fa-star star_empty"></i>
                    </div>
                    <span class="nn">/ nn,nnn</span>
                </div>
                <div class="item metro">
                    <div class="metro_name">Пресненская набережная</div>
                    <div class="metro_logo">
                        <img src="img/underground.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PreviewSlider"
    }
</script>

<style lang="scss" scoped>
    .previewSlider{
        flex: 5;
        padding: 38px 38px 18px 38px;
        background-color: #f7f7f7;
        .wrapper{
            display: flex;
            flex-direction: column;

            height: 100%;
            .body{
                margin-bottom: 14px;
                position: relative;
                .apart{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .arrow{
                    position: absolute;
                    width: 20px;
                    height: 35px;
                    cursor: pointer;
                }
                .arrow_left{
                    left: 0;
                    top: 0;
                    margin-top: 50%;
                    margin-left: 5%;
                    transform: translateY(35px);
                }
                .arrow_right{
                    left: 90%;
                    top: 0;
                    margin-top: 50%;
                    margin-right: 5%;
                    transform: translateY(35px);
                }
                .slides_bar{
                    position: absolute;
                    bottom: 5%;
                    justify-content: space-between;
                    display: flex;
                    margin-left: 50%;
                    width: 100px;
                    transform: translateX(-50px);

                    .bar_cirlce{
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        background-color: white;

                        border-radius: 5px;
                    }
                }

            }

            .footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .item{
                    display: flex;
                    align-items: center;
                    .stars{
                        .fa{
                            margin-right: 5px;
                        }
                    }
                }
                .metro{
                    align-items: flex-end;
                    justify-content: space-between;
                    flex-direction: column;
                    color: #858585;
                    font-family: Comfortaa;
                    font-size: 14px;
                    font-weight: 700;
                    .metro_name{
                        margin-bottom: 10px;
                    }
                }
            }

        }

    }
    .nn{
        color: #858585;
        font-family: Comfortaa;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.17px;
    }
    .star_empty{
        color: rgba(249, 191, 31, 0.4);
    }
    .star_full{
        color: #f9bf1f;
    }
    .bar_cirlce_empty{
        background-color: #d8d8d8;
        opacity: 0.4;
    }
    .bar_cirlce_full{
        background-color: #d8d8d8;
    }
</style>