<template>
    <div class="reviewer">
        <div class="photo"><img :src="photo_url" alt=""></div>
        <div class="content">
            <div class="header">
                <div class="name">{{name}}</div>
                <div class="stars">
                    <i class="fa fa-star" :class="stars_states[i] ? 'star_full' : 'star_empty'" :id="i" v-for="(star,i) in stars_states"></i>
                </div>
            </div>
            <div class="body">
                <p>{{text}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Reviewer",
        data(){
            return{
                name: 'Алексей',
                currentScore: 1,
                text: 'Lorem ipsum dolor sit amet, consectetur\n' +
                    'adipiscing elit, sed do eiusmod tempor',
                photo_url:'img/avatar1.png',
                stars_states:{
                    0: false,
                    1: false,
                    2: false,
                    3: false,
                    4: false,
                },
                bla: false,
            }
        },
        methods:{

        },
        created(){
            for (let i=0;i<this.currentScore;i++){
                this.stars_states[i] = true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .reviewer{
        width: calc(100% / 3);
        margin-bottom: 21px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .photo{
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
        .content{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            .header{
                display: flex;
                flex-direction: row;
                align-items: center;
                .name{
                    margin-right: 5px;
                    color: #888888;
                    font-family: Comfortaa;
                    font-size: 9px;
                    font-weight: 300;
                }
                .stars{
                    display: flex;
                    align-items: center;
                    .fa{
                        margin-right: 5px;
                        cursor: pointer;
                        font-size: 6px;
                    }
                }
            }
            .body{
                color: #888888;
                font-family: Comfortaa;
                font-size: 6px;
                font-weight: 300;
            }
        }
    }

    .star_empty{
        color: rgba(249, 191, 31, 0.4);
    }
    .star_full{
        color: #f9bf1f;
    }
</style>