<template>
  <div id="app">
      <div class="container">
          <PreviewSlider></PreviewSlider>
          <Info></Info>
      </div>
  </div>
</template>

<script>
import PreviewSlider from './components/PreviewSlider';
import Info from './components/Info';

export default {
  name: 'app',
  components: {
      PreviewSlider,
      Info
  }
}
</script>

<style lang="scss" scoped>
  .container{
      width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: row;
  }
</style>